body{
	background:url(math.jpg);
	background-repeat: repeat;
}
#calculator{
	background-color: rgba(0, 0, 0, 0.5);
	margin:100px auto 0px auto; 
	border: 10px solid;
	border-color: rgba(0, 0, 0, 0.5);
	width:400px;
	height:400px;
    table-layout:fixed;
	word-wrap:break-word;
	font-family: 'Rye', cursive;
}
#answerBox{
	background-color: white;
	height: 40px;
}

tr.buttons td{
	width: 10%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-image: -webkit-linear-gradient(top,#7d7e7d 0%,#0e0e0e 100%);
	color: white;
}

tr.buttons td:hover{
	background-image: -webkit-linear-gradient(top,#45484d 0%, #000000 100%);
}

tr.answerField{
	text-align: right;
}

tr.buttons{
	text-align: center;
}

tr.hidden{
	display: none;
}